@import '../scss/variables.scss';
.footer{
  background-color: $color-pink;
  &__wrapper{
    width: 100%;
    padding: 28px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $tablets) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__logo{
    max-width: 233px;
  }
  &__menu{
    list-style-type: none;
    padding-left: 0px;
    align-self: start;
  }
  &__menu-item{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 7px;
    color: $color-grey;
  }
  &__contacts-wrapper{
    height: 100%;
    font-size: 12px;
  }
  &__contacts-wrapper .contacts{
    font-size: 12px;
  }
  &__copyright{
    font-size: 12px;
    font-weight: 600;
    color: $color-green;
    float: right;
    margin-top: -10px;
  }
}