@import '../../scss/variables.scss';
.popup{
  display: none;
  position: fixed;
  width: 590px;
  max-width: 90%;
  left: 5%;
  top: 10%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 500;
  &_visible{
    display: block;
  }
  &_wide{
    width: 90vw;
    height: 90vh;
    left: 5%!important;
    top: 5%;
  }
  @media screen and(min-width: 650px) {
    left: calc(50vw - 295px);
  }
} 