$color-orange: #FF6600;
$color-green: #069E2D;
$color-pink: rgba(255, 102, 0, 0.1);
$color-grey: #4B4955;
$color-light-grey: #C4C4C4;

$mobile: 575px;
$tablets: 767px;
$desktop: 1024px;
$large-desktop: 1200px;