.block_white
  .container 
    h2.heading.heading_green частые вопросы
    .faq 
      .faq__item 
        .faq__title Что такое телемедицина?
        .faq__content  
          p Телемедицина – это консультации с сертифицированными врачами высшей категории, не выходя из дома, из любой точки мира, с помощью телефона или компьютера.
      .faq__item 
        .faq__title В каком формате возможна дистанционная консультация с врачом?
        .faq__content 
          p Консультации предоставляются в трех форматах, удобных для клиента – через 
            b сайт 
            | «Доктор рядом» 
            a(href="https://telemed.drclinics.ru") https://telemed.drclinics.ru, 
            b мобильное приложение 
            | или через 
            b телефон 
            span колл-центра 8-800-550-6979 (для звонков по России бесплатно), +7 (495) 266-39-52 (для звонков из-за рубежа). К медицинскому психологу необходимо обратиться по круглосуточному бесплатному федеральному телефону СПАО «Ингосстрах» 8-800-2003-911.
      .faq__item 
        .faq__title Какое ключевое преимущество телемедицинской консультации в Телемед Полис?
        .faq__content 
          ul  
            li Конкурентная стоимость продукта при неограниченном количестве обращений
            li Получение круглосуточной дистанционнойконсультативной поддержки дежурных врачей (терапевт/педиатр) и узких врачей-специалистов в режиме работы клиник
            li Получение поддержки медицинского психолога
            li Получение консультации - альтернативное мнение
            li Получение консультации у терапевта/педиатра через 
              b 1,5 минуты после обращения
            li Сохранение медицинской документации в приложении.
            li Просмотр истории консультаций и рекомендаций врачей в приложении.
            li Возможность познакомиться с системой ДМС на примере доступного и понятного продукта.
      .faq__item 
        .faq__title К врачу какой специальности можно обратиться?
        .faq__content  
          p По программе можно получить консультацию следующих узких врачей-специалистов: кардиолог, невролог, гастроэнтеролог, эндокринолог, гинеколог, уролог, дерматолог, ЛОР, аллерголог-иммунолог, травматолог-ортопед.
      .faq__item 
        .faq__title Назначает ли врач лечение после консультации?
        .faq__content  
          p Врач может дать разъяснения по ранее поставленному диагнозу и назначенному лечению, интерпретировать результаты анализов и инструментальных исследований, дать рекомендации по профилактике и здоровому образу жизни. Врач обсуждает состояние здоровья Застрахованного и может принять решение о необходимости экстренной и неотложной помощи
      .faq__item 
        .faq__title По какому графику работают врачи?
        .faq__content 
          p Дежурный терапевт/педиатр, медицинский психолог работают по графику 24/7, на консультацию к узкому врачу-специалисту можно записаться через мобильное приложение/сайт, выбрав удобное время в режиме работы клиник «Доктор рядом».
      .faq__item 
        .faq__title Где возможно ознакомиться с информацией о врачах клиники «Доктор рядом»?
        .faq__content 
          p Информацию о докторе можно увидеть в мобильном приложении или на сайте «Доктор рядом», выбрав врача. Информация представлена в виде: описания опыта, образования, курсов повышения квалификации. Также в разделе каждого доктора можно увидеть дипломы и сертификаты, подтверждающие квалификацию врача.
      .faq__item 
        .faq__title Сколько застрахованных лиц можно включить в полис?
        .faq__content 
          p В одном договоре возможно указание только одного застрахованного лица.
      .faq__item 
        .faq__title Как врач по звонку определит, что я являюсь застрахованным по программе?
        .faq__content 
          p В информационной системе отображается программа обслуживания, врач ее видит и может понять, от какой организации обращается клиент. При обращении на линию за консультацией проводится идентификация по персональным данным Пациента.
      .faq__item 
        .faq__title Чем регулируется конфиденциальность анализов и переговоров с врачом?
        .faq__content 
          p Конфиденциальность      регламентируется      следующими      законами:      152-ФЗ      «Об    обработке персональных    данных»,      Законом      242-ФЗ,      регламентирующим      порядок      предоставления телемедицинских услуг, 149-ФЗ "Об информации, информационных технологиях и о защите информации". Доктор увидит сообщения и направленные документы (анализы, заключения) только во время осуществления консультации.
      .faq__item 
        .faq__title Каковы медицинские исключения из программы? 
        .faq__content 
          ul 
            li Не покрывается выдача всех видов медицинской документации
            li Не оплачиваются услуги консультации врачей, не предусмотренных программой.
            li Не оплачиваются медицинские услуги, связанные с определенными заболеваниями и их осложнениями (перечень заболеваний и осложнений указан в программе).
          p Полный перечень исключений указан в программе.
      .faq__item 
        .faq__title Можно ли приобрести полис в подарок, указать застрахованным иное лицо?
        .faq__content 
          p Да, возможно приобретение полиса с указанием страхователем лица, оплатившего договор и застрахованным другого лица.
    a.btn.btn_green.btn_centered.btn_popup(data-target="#popup-form") заказать полис