.swiper-container.licence 
  .swiper-wrapper 
    img.swiper-slide(src="~@/assets/img/licence1.jpg", alt="")
    img.swiper-slide(src="~@/assets/img/licence2.jpg", alt="")
.slider-button-prev 
.slider-button-next