.block_pink#opps
  .container 
    h2.heading.heading_orange Возможности ПРОГРАММЫ
    .opps
      .opps__slider.swiper-container
        .swiper-wrapper.opps__wrapper
          .opps__item.swiper-slide
            .opps__icon-wrapper
              img.opps__icon(src="~@/assets/img/icons/opps_1.svg") 
            p.opps__text Получать срочные и плановые консультации врачей и перепроверки правильности диагноза, поставленного другими врачами
          .opps__item.swiper-slide
            .opps__icon-wrapper
              img.opps__icon(src="~@/assets/img/icons/opps_2.svg") 
            p.opps__text Просматривать анкетные данные врачей, их рейтинг, отзывы и расписание
          .opps__item.swiper-slide
            .opps__icon-wrapper
              img.opps__icon(src="~@/assets/img/icons/opps_3.svg") 
            p.opps__text Фотографировать собственные анализы, медицинскую карту и хранить фотографии в приложении
          .opps__item.swiper-slide
            .opps__icon-wrapper
              img.opps__icon(src="~@/assets/img/icons/opps_4.svg") 
            p.opps__text Просматривать историю консультаций и рекомендации врачей
        .slider-button-next.opps__nav-button
        .slider-button-prev.opps__nav-button
    a.btn.btn_centered.btn_orange(href="#big-form") заказать полис

