.block_white#usp
  .container 
      h2.heading.heading_orange преимущества доступа
      .usp.swiper-container 
        .swiper-wrapper 
          .usp__item.swiper-slide
            img.usp__icon(src="img/icons/usp_1.svg")
            h3.usp__title ТРИ ВАРИАНТа СВЯзИ
            p.usp__text Консультации можно провести в чате, по телефону или видеосвязи
          .usp__item.swiper-slide
            img.usp__icon(src="img/icons/usp_2.svg")
            h3.usp__title 
              | разовый
              br
              | платеж
            p.usp__text Количество обращений не ограничено
          .usp__item.swiper-slide
            img.usp__icon(src="img/icons/usp_3.svg")
            h3.usp__title В ЛЮБОЕ ВРЕМЯ НА СВЯЗИ
            p.usp__text Дежурные врачи на связи круглосуточно
          .usp__item.swiper-slide
            img.usp__icon(src="img/icons/usp_4.svg")
            h3.usp__title ВРАЧИ ВСЕХ СПЕЦИАЛЬНОСТЕЙ
            p.usp__text 10 педиатров и 30 взрослых специалистов
        .slider-button-next
        .slider-button-prev